*

!backend/
!backend/app/
!backend/app/**
!backend/db/
!backend/db/**
!backend/Dockerfile
!backend/requirements.txt
!backend/requirements-local.txt
!INSTUC.txt

backend/**/__pycache__/
backend/**/*.pyc
